<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--通过aop切面来写通知-->
    <aop:config >
        <aop:pointcut id="pointcutId" expression="execution(* com.myejb22.sssp.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pointcutId"/>
    </aop:config>

    <!--使用AOP切面来使用日志管理-->
    <aop:aspectj-autoproxy/>
</beans>